<%- include("../partials/header")%>

    <!-- FORM -->
    <div class="poke-edit-form">


        <div class="edit-name">

            <p>
                <%if (pokemon.nickname !=='' ){ %>
                    "<%=pokemon.nickname%>" the <%=pokemon.name%>
                            <%} else {%>
                                <%=pokemon.name%>
                                    <%}%>
            </p>
        </div>
        <div class="edit-top">

            <div class="edit-pokemon">
                <img height="134px" width="134px" src="<%=pokemon.sprite%>">
            </div>
            <div class="trio">
                <div class="type">

                    <h3>Type:</h3>
                    <%if (pokemon.type2) {%>
                        <p>
                            <%=pokemon.type1.toUpperCase()%> / <%=pokemon.type2.toUpperCase() %>
                        </p>
                        <% } else { %>
                            <p>
                                <%=pokemon.type1.toUpperCase() %>
                            </p>
                            <% } %>
                </div>

                <div class="ability">
                    <h3>Ability:</h3>
                    <p>
                        <%=pokemon.abilities.current.toUpperCase()%>
                    </p>
                </div>
                <div class="item">
                    <h3>Item:</h3>
                    <%if (pokemon.heldItem) {%>
                        <p>
                            <%=pokemon.heldItem%>
                        </p>
                        <% } else { %>
                            <p>None</p>
                            <% } %>
                </div>
            </div>
        </div>

        <div class="edit-bottom">
            <div class="base-stat">
                <h3 id="base-stats">Base Stats</h3>
            </div>
        <div class="all-stats">
            <div class="stat">
                <p id="one">HP:</p>
                <p id="hp">
                    <%=pokemon.stats[0].values.base%>
                </p>
            </div>

            <div class="stat">
                <p id="two">ATK:</p>
                <p id="atk">
                    <%=pokemon.stats[1].values.base%>
                </p>
            </div>

            <div class="stat">
                <p id="three">DEF:</p>
                <p id="def">
                    <%=pokemon.stats[2].values.base%>
                </p>
            </div>

            <div class="stat">
                <p id="four">SpATK:</p>
                <p id="spatk">
                    <%=pokemon.stats[3].values.base%>
                </p>
            </div>

            <div class="stat">
                <p id="five">SpDEF:</p>
                <p id="spdef">
                    <%=pokemon.stats[4].values.base%>
                </p>
            </div>

            <div class="stat">
                <p id="six">SPEED:</p>
                <p id="speed">
                    <%=pokemon.stats[5].values.base%>
                </p>
                </div>
            </div>
        </div>




        <form class="editName" action="/pokemon/<%=pokemon._id%>?_method=PUT" method="POST">



        <div class="change">
            <label id="">Enter/Change Nickname:
                <input type="text" name="nickname" class="" value="<%=pokemon.nickname%>"></input>
            </label>
            <label id="">Change Held Item:
                <select name="heldItem">
                    <!-- will add a forEach function to list all possible held items from database -->
                    <option value="expert-belt">Expert Belt</option>
                    <option value="kings-rock">King's Rock</option>
                </select>
            </label>
            <label>Change Ability
                <select name="ability" id="">
                    <%pokemon.abilities.all.forEach(a=> {%>
                        <option value="<%=a%>">
                            <%=a.toUpperCase()%>
                        </option>
                        <% }) %>
                </select>
            </label>
        </div>
           </form>
            <button type="submit" class="new-button" href="/pokemon">Save</button>
        </form>




    </div>

    <%- include("../partials/footer")%>