<%- include("../partials/header")%>

    <!-- FORM -->
    <div class="poke-edit-form">
        

        <div class="">
            <form class="" action="/pokemon/<%=pokemon._id%>?_method=PUT" method="POST">
                <p>
                    <%if (pokemon.nickname !== ''){ %>
                    "<%=pokemon.nickname%>" the <%=pokemon.name%>
                    <%} else {%>
                        <%=pokemon.name%>
                        <%}%>
                </p>
                <img src="<%=pokemon.sprite%>">
                <label id="">Enter/Change Nickname:
                    <input type="text" name="nickname" class="" value="<%=pokemon.nickname%>"></input>
                </label><br>
                
                <button type="submit" class="new-button">Save</button>
            </form>



        </div>
    </div>

    <%- include("../partials/footer")%>