<%- include("../partials/header")%>

<!-- <h1>Welcome to {USERNAME}'s PC.</h1> -->

<!-- <div class="teamImg">
<img height="150px" width="150px" class ="img-teams" src ="https://64.media.tumblr.com/641ec476865c68bb4f6f7bf6928c1d5c/tumblr_pevr8icX581vw1ceco1_1280.pnj">
</div> -->

<div class="eachTeam">
    <div class="sprite">
        <% teams.forEach(t => { %>
            <p id="sprite"><a href="/teams/<%=t._id%>">Team Details</a><%=t.name%></p>
            <%t.pokemon.forEach(p => { %>
                <img src="<%=p.sprite%>">
                <% }) %>
                
                <!-- <button><a href="/teams/<%=t._id%>">Team Details</a></button> -->
    </div>

    <form action="/teams/<%=t._id%>?_method=DELETE" method="post">
        <button type="submit">Delete team</button>
    </form>
    
<% }) %>
</div>

<button><a href="/teams/new">Create New Team</a></button>

<%- include("../partials/footer")%>