<%- include("../partials/header")%>

<!-- <h1>Welcome to {USERNAME}'s PC.</h1> -->

<div class="teamImg">
<img height="150px" width="150px" class ="img-teams" src ="https://64.media.tumblr.com/641ec476865c68bb4f6f7bf6928c1d5c/tumblr_pevr8icX581vw1ceco1_1280.pnj">
</div>

<div class="eachTeam">
<% teams.forEach(t => { %>
    <div class="sprite">
        <p id="sprite"> <%=t.name%></p>
        <%t.pokemon.forEach(p => { %>
            <img src="<%=p.sprite%>">
        <% }) %>

    </div>

    <form action="/teams/<%=t._id%>?_method=DELETE" method="post">
        <button type="submit">Delete team</button>
    </form>
    
    <button><a href="/teams/<%=t._id%>">Team Details</a></button>
<% }) %>
</div>

<button><a href="/teams/new">Create New Team</a></button>

<%- include("../partials/footer")%>