<%- include("../partials/header")%>

       <form action = "/users/<%=user._id%>?_method=PUT" method = "POST">
        <input type="text" name="favorite" class=""required pattern="(\D+|[1-9]|[1-9][0-9]|[1-9][0-9][0-9]|100[0-8])"></input>
        </label><br>
        <button type="submit" class="new-button">Next</button>
    </form>

        <% if (user.favorite) {%>
            <img src ="<%=user.favorite.sprite%>">
            <% }else {%> 
                <img src="https://i.imgur.com/HddtBOT.png" alt="who">
                <%} %> 



        <h1>
            <%=user.name%>'s Favourite Pokemon
        </h1>

        <%- include("../partials/footer")%>